@using PizzaSite.Models
@model IQueryable<Pizza>
    @{
    ViewData["Title"] = "Pizza";
    }


    <div id="container" class="content">
        <div class="container">
            <div id="notification"></div>
            <div id="column-left" class="hidden-xs hidden-sm">
                <div class="box">
                    <div class="box-heading">
                        <span>Categories</span>
                    </div>
                    <div class="box-content">
                        <ul class="box-category treemenu">
                            <li><a asp-controller="Home" asp-action="PizzaV">Pizza</a></li>
                            <li><a asp-controller="Home" asp-action="Salad">Salads</a></li>
                            <li><a asp-controller="Home" asp-action="Beverages">Beverages</a></li>
                        </ul>
                    </div>
                </div>

                <div id="banner0" class="banner clearfix">
                    <div class="item pull-left">
                        <a href="http://conceptlogic.ru/">
                            <img src="~/images/data-banners-banner-cl-2-255x382.jpg" alt="E-commerce solutions" title="E-commerce solutions">
                        </a>
                    </div>
                </div>

               
            </div>

            <div id="content">
                <ol class="breadcrumb">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="PizzaV">Pizza</a></li>
                </ol>
              
                <div class="category-info clearfix">
                    <h1>Pizza</h1>
                    <p>
                        <span style="font-family: arial, sans-serif; font-size: 13px; line-height: 16px;">Pizza - </span><span id="result_box" lang="en"><span class="hps">Pizza</span> <span class="hps">-</span> <span class="hps">Italian</span> <span class="hps">national dish </span><span class="hps">in the shape of</span><span class="hps"> circular</span> open-faced flat cake <span class="hps">covered</span> <span class="hps">in the classic version with</span> <span class="hps">tomatoes and</span> <span class="hps">melted cheese</span><span>.</span> <span class="hps">Cheese is</span> <span class="hps">the main ingredient</span> <span class="hps">of pizza.</span> <span class="hps">One</span> <span class="hps">of the most popular</span> <span class="hps">dishes in the world</span><span>.</span></span>
                    </p>
                </div>


                <div class="product-filter clearfix">
                    <div class="display">
                        <div class="btn-group btn-group-sm">
                            <span class="btn btn-default" disabled="disabled"><i class="fa fa-th-list"></i> List</span>
                            <a class="btn btn-default" onclick="display(&#39;grid&#39;);"><i class="fa fa-th"></i> Grid</a>
                        </div>
                    </div>




                    <div class="sort">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="sort-goods" data-toggle="dropdown">
                                <i class="fa fa-sort-amount-desc"></i>&nbsp;Sort By:&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="sort-goods">
                                <li class="disabled"><a tabindex="-1" href="#">Default</a></li>
                                <li><a tabindex="-1" href="#">Name (A - Z)</a></li>
                                <li><a tabindex="-1" href="#">Name (Z - A)</a></li>
                                <li><a tabindex="-1" href="#">Price (Low &gt; High)</a></li>
                                <li><a tabindex="-1" href="#">Price (High &gt; Low)</a></li>
                                <li><a tabindex="-1" href="#">Rating (Highest)</a></li>
                                <li><a tabindex="-1" href="#">Rating (Lowest)</a></li>
                                <li><a tabindex="-1" href="#">Model (A - Z)</a></li>
                                <li><a tabindex="-1" href="#">Model (Z - A)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box-product product-list">


                    @foreach (Pizza item in Model)
                    {

                        <div class="item">
                            <div class="image">
                                <a href="~/Item/Detail/@item.Id">
                                    <img width="240" height="240" src="@item.img" title="Margarita" alt="Margarita">
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <a href="~/Item/Detail/@item.Id">@item.name</a>
                                </div>
                                <div class="description">
                                    All lovers of Italian cuisine know that the Pizza Margarita is the culinary embodiment of Italy. Classic cake flavored with mozzarella and red tomatoes...
                                </div>

                                <div class="price">
                                    <div>
                                        <span class="price-fixed">@item.price $</span>
                                    </div>
                                </div>



                                <div class="cart">
                                    <button class="btn btn-success" type="button" onclick="checkCookie('@item.Id', 1, 2, 1,@item.price)">
                                        <i class="fa fa-shopping-cart"></i> <span>Add to Cart</span>
                                    </button>

                                </div>
                                <div class="cart" hidden="hidden">
                                    <button class="btn btn-danger" type="button" onclick="checkCookie('@item.Id', 1, 2, 1,@item.price)">
                                        <i class="fa fa-shopping-cart"></i> <span>Added</span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    }




                </div>

                <div class="">
                    <div class="pagination">
                        <div class="results">Showing 1 to 10 of 10 (1 Pages)</div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                function display(view) {
                    if (view == 'list') {
                        $('#content .product-grid').attr('class', 'product-list box-product');
                        $('.display').html('' +
                            '<div class="btn-group btn-group-sm">' +
                            '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th-list"></i> List</span>' +
                            '<a class="btn btn-default" onclick="display(\'grid\');"><i class="fa fa-th"></i> Grid</a>' +
                            '</div>'
                        );
                        $.totalStorage('display', 'list');
                    }
                    else {
                        $('#content .product-list').attr('class', 'product-grid box-product');
                        $('.display').html('' +
                            '<div class="btn-group btn-group-sm">' +
                            '<a class="btn btn-default" onclick="display(\'list\');"><i class="fa fa-th-list"></i> List</a>' +
                            '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th"></i> Grid</span>' +
                            '</div>'
                        );
                        $.totalStorage('display', 'grid');
                    }
                }
                view = $.totalStorage('display');
                if (view) {
                    display(view);
                } else {
                    display('list');
                }</script>
        </div>
    </div>

