
@model ICollection<object>
@{ Food food = (Food)Model.ToArray()[0];
    List<Component> components = new List<Component>();
    if (Model.ToArray()[1] != null)
        components = (List<Component>)Model.ToArray()[1]; }
<div id="container" class="content">
    <div class="container">
        <div id="notification"></div>
        <div id="column-right" class="hidden-xs hidden-sm">

            <div class="box">
                <div class="box-heading">
                    <span>Categories </span>
                </div>
                <div class="box-content">
                    <ul class="box-category treemenu">
                        <li><a asp-controller="Home" asp-action="PizzaV" class="active"><span>Pizza </span></a></li>
                        <li><a asp-controller="Home" asp-action="Beverages"><span>Beverages </span></a></li>
                    </ul>
                </div>
            </div>

     


        </div>

        <div id="content">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="pizza.html">Pizza</a></li>
                <li><a href="margarita.html">@food.name</a></li>
            </ol>

            <div class="product-info">
                <div class="row">
                    <div class="col-md-4 popup-gallery">
                        <div class="image">
                            <a href="@food.img" title="Margarita" class="imagebox">
                                <img src="@food.img" title="Margarita" alt="Margarita" id="image">
                            </a>
                        </div>

                        <div class="share" style="margin-top: 30px">
                            <!-- Share Button BEGIN 'share.pluso.ru' -->
                            <script type="text/javascript">
                                (function () {
                                    if (window.pluso) if (typeof window.pluso.start == "function") return;
                                    if (window.ifpluso == undefined) {
                                        window.ifpluso = 1;
                                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                        s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true;
                                        s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                                        var h = d[g]('body')[0];
                                        h.appendChild(s);
                                    }
                                })();
                            </script>
                            <div class="pluso" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,twitter,google,odnoklassniki,pinterest,tumblr">
                                <div class="pluso-010011000101-04">
                                    <span class="pluso-wrap" style="background:transparent"><a href="margarita.html" title="ВКонтакте" class="pluso-vkontakte"></a><a href="margarita.html" title="Facebook" class="pluso-facebook"></a><a href="margarita.html" title="Twitter" class="pluso-twitter"></a><a href="margarita.html" title="Google+" class="pluso-google"></a><a href="margarita.html" title="Одноклассники" class="pluso-odnoklassniki"></a><a href="margarita.html" title="Pinterest" class="pluso-pinterest"></a><a href="margarita.html" title="Tumblr" class="pluso-tumblr"></a><a href="http://pluso.ru/" class="pluso-more"></a></span>
                                </div>
                            </div>
                            <!-- Share Button END -->
                        </div>
                    </div>

                    <div class="col-md-8 product-center clearfix">
                        <h1>@food.name</h1>
                        
                        <div class="options">
                            <h4>Available Options</h4>
                            <div id="option-239" class="option form-group">
                                <label>
                                    Edges:
                                </label><br>
                                @foreach (Component c in components)
                                {
                                    <label class="radio-inline">
                                        <img width="50" height="50" src="@c.img" alt="with salmon +50.00 $"><br>
                                        <input type="radio" name="option[239]" value="1" onclick="Set('@c.Id')">
                                        with @c.name
                                        <small>(+@c.price $)</small>
                                    </label>}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart-area">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="review">
                                <div class="stars" title="3 reviews">
                                    <i class="fa fa-star"></i>&nbsp;
                                    <i class="fa fa-star"></i>&nbsp;
                                    <i class="fa fa-star"></i>&nbsp;
                                    <i class="fa fa-star"></i>&nbsp;
                                    <i class="fa fa-star-o"></i>&nbsp;
                                </div>

                                
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="price">
                                <div>
                                    <span class="price-fixed">@food.price $</span>
                                </div>
                            </div>

                            <div class="text-center" style="font-size: 12px"></div>
                        </div>
                        <script>
                            let s = "";
                            function Set(str) {
                                s = str;
                                console.log(s);
                            }
                            function Get() {
                                console.log(s);
                                return s;
                            }
                        </script>
                        <div class="col-md-4">
                            <div class="cart">
                                <div class="add-to-cart clearfix" style="margin-top: 20px">
                                    <!--span class="help-block">Qty:</span-->
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-btn">
                                            <button id="button-cart" class="btn btn-success" onclick="checkCookie2('@food.Id', 1, '@ViewBag.idt' , 1,@food.price,Get())">
                                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                                Add to Cart
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="product-tabs">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                    <li><a href="#tab-attribute" data-toggle="tab">Specification</a></li>
                    <li><a href="#tab-review" data-toggle="tab">Reviews (3)</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab-description" class="tab-pane fade in active">
                        <p>
                            All lovers of Italian cuisine know that the Pizza Margarita is the culinary embodiment of Italy. Classic cake flavored with mozzarella and red tomatoes.
                        </p>
                    </div>

                    <div id="tab-attribute" class="tab-pane fade">
                        <div class="table-responsive">
                            <table class="table table-bordered attribute">
                                <thead>
                                    <tr>
                                        <th colspan="2">Сharacteristics</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Сomposition:</td>
                                        <td>Spesial tomato sauce, mozzarella cheese, tomatoes, oregano and basil.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="tab-review" class="tab-pane fade">
                        <div id="review">
                            <div class="review-list">
                                <div class="author">
                                    <strong>Сергей</strong>  on  16/10/2013
                                </div>

                                <div class="rating">
                                    <div class="stars" title="4">
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star-o"></i>&nbsp;
                                    </div>
                                </div>

                                <div class="text">
                                    Пицца крута, но правда, мясца бы.
                                </div>
                            </div>

                            <div class="review-list">
                                <div class="author">
                                    <strong>Андрей</strong>  on  15/10/2013
                                </div>

                                <div class="rating">
                                    <div class="stars" title="4">
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star-o"></i>&nbsp;
                                    </div>
                                </div>

                                <div class="text">
                                    Пицца довольно сытная, хотя и без мяса.
                                </div>
                            </div>

                            <div class="review-list">
                                <div class="author">
                                    <strong>Ира</strong>  on  10/10/2013
                                </div>

                                <div class="rating">
                                    <div class="stars" title="5">
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                        <i class="fa fa-star"></i>&nbsp;
                                    </div>
                                </div>

                                <div class="text">
                                    Пицца просто супер!!!))) Спасибо.
                                </div>
                            </div>

                            <div class="pagination"><div class="results">Showing 1 to 3 of 3 (1 Pages)</div></div>

                        </div>
                        <!-- $end -->
                        <form asp-controller="Item" asp-action="Detail" method="post">
                            <div class="panel panel-default form-review">
                                <div class="panel-heading" id="review-title">Write a review</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="review-name">Your Name:</label>
                                        <input type="text" id="review-name" class="form-control" name="name" placeholder="Your Name:">
                                    </div>
                                    <input type="text" hidden="hidden" name="Id_tovar" value="@food.Id" />

                                    <div class="form-group">
                                        <label for="review-text">Your Review:</label>
                                        <textarea id="review-name" class="form-control" placeholder="Your Review:" name="description" rows="5"></textarea>
                                        <p class="help-block"><small><span style="color: #FF0000;">Note:</span> HTML is not translated!</small></p>
                                    </div>

                                    <div class="form-group">
                                        <label>Rating:</label>
                                        <br>

                                        <!--span>Bad</span-->
                                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                                            <label class="btn btn-red">
                                                <input type="radio" name="rating" value="1"> 1
                                            </label>
                                            <label class="btn btn-scarlet">
                                                <input type="radio" name="rating" value="2"> 2
                                            </label>
                                            <label class="btn btn-orange">
                                                <input type="radio" name="rating" value="3"> 3
                                            </label>
                                            <label class="btn btn-yellow">
                                                <input type="radio" name="rating" value="4"> 4
                                            </label>
                                            <label class="btn btn-green">
                                                <input type="radio" name="rating" value="5"> 5
                                            </label>
                                        </div>
                                        <!--span>Good</span-->
                                    </div>

                                    <div class="form-group">
                                        <button id="button-review" type="submit" class="btn btn-warning">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </div>

  

     

     
    </div>
</div>
